<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Services</title>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li class="one"><a href='/home.html'>Home</a></li>
                <li class="two"><a href='/services.html'>Services</a></li>
                <li class="three"><a href='/contact.html'>Contact</a></li>
                <hr/>
            </ul>
        
        </nav>
        </div>
       
  
     

        <div class='service-container'>
              <div class='service'>
                   <h2>Solution informatiques</h2>
                   <img src='./assets/solutions-info.png' alt='img'/>
                   
              </div>

              <div class='service'>
                <h2>Traçabilité</h2>
                <img src='./assets/trace.jpg' alt='img'/>
              </div>

              <div class='service'>
                <h2>Etude et conseils</h2>
                <img src='./assets/conseils.png' alt='img'/>
              </div>
              <div class='service h2servc'>
                <h2>Formations</h2>
                <img src='./assets/formation.png' alt='img'/>
              </div>
        </div>
        
    
</body>
</html>